<!DOCTYPE html>
<html>
<head>
    <title>Fraud Detection</title>
</head>
<body>
    <h2>Credit Card Fraud Detection</h2>
    <form action="/predict" method="post">
        {% for i in range(30) %}
            <label>Feature {{ i+1 }}:</label>
            <input type="number" step="any" name="feature{{ i+1 }}" required><br><br>
        {% endfor %}
        <input type="submit" value="Predict">
    </form>

    {% if prediction_text %}
        <h3>{{ prediction_text }}</h3>
    {% endif %}
</body>
</html>
